* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: rgb(194, 247, 255);
    font-family: Arial, Helvetica, sans-serif sans-serif;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.container {
    width:100%;
    max-width: 450px;
    background: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);


}
h1 {
    text-align: center;
    margin-bottom: 25px;
    color: #2b6cb0;
}

label {
    display:block;
    margin-top: 15px;
}

input {
    width: 100%;
    padding: 10px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 12px;
    box-sizing: border-box;
}
input[type="email"]
input[type="password"]{
    width: 100%;
    padding: 12px;
    margin-bottom: 18px;
    border: 1px solid #ccc;
    border-radius: 16px;
}

input:focus{
    outline:none;
    border-color: green;
}

button {
    margin-top: 10px;
    background-color: #3182ce;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #2b6cb0;
}

.success {
    margin-top: 20px;
    padding: 15px;
    background-color: #d1e7dd;
    color: #0f5132;
    border-radius: 8px;
    border: 1px solid #badbcc;
}

.error {
    margin-top: 20px;
    padding: 15px;
    background-color: #f8d7da;
    color: #842029;
    border-radius: 8px;
    border: 1px solid #f5c2c7;
}
.admin {
    color: #f66f6f;
    font-weight: bold;
}

.studente {
    color: #424242;
    font-weight: bold;
}

.docente {
    color: #00046d;
    font-weight: bold;
}